<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <h2>{{web}}</h2>
</div>

    <article class="about">
        <h2>Sobre mí</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec mollis erat, sed pharetra mauris.
            Integer elementum porta ullamcorper. Pellentesque at elementum velit, vitae feugiat erat. Quisque in lacinia
            metus. Etiam ut gravida lacus, sed fermentum velit. Integer cursus magna purus, sed sodales massa sodales
            ut. Suspendisse euismod, massa id molestie dictum, quam lorem commodo lacus, at dictum ex nisi a sem.
            Aliquam lacinia luctus enim a maximus. Duis eget leo consequat, cursus ipsum quis, ullamcorper enim. Donec
            volutpat eros a tempus vulputate. Suspendisse eget porttitor enim. Quisque pulvinar massa eu lobortis
            aliquet.</p>
    </article>
